@import "tailwindcss";

/* Smooth transition */
body {
  transition: all 0.3s ease;
  background-color: white;
  color: black;
}

/* Dark mode */
body.dark {
  background-color: #0f172a;
  color: white;
}

/* Links */
a {
  color: inherit;
  text-decoration: none;
}

/* Sections fix */
section {
  background: inherit;
}